<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrega 1 - De Oto - Demaio</title>
    <link type="text/css" href="{% static '/css/welcome.css' %}" rel="stylesheet">
</head>
<body>
    <section>
        <div>            
            <h1>Entrega intermedia del proyecto final.</h1>
        </div>
        <div>
            <h3>Integrantes:</h3>
            <ul>
                <li>Demaio, Marco Pablo</li>
                <li>Marcelo, De Oto</li>
            </ul>
        </div>
        <div>
            <a href="/AppBootcamps">iniciar App</a>
        </div>
    </section>
</body>
</html>